@font-face {
      src: url("./fonts/Underdog-Regular.ttf");
     font-family: "Underdog";
}

body {
     font-family: "Underdog";
     color: rgb(227, 221, 221);
     background-color: black;
}

.container{
     display: block;
     margin: 100px auto 0px auto;
     width: 400px;
}
/*input and label*/
input {
     width: 400px;
     height: 30px;
}

/*footer*/
.check-box {
     width: 10px;
}

.makeshift-footer {
     display: flex;
     width: auto;
     justify-content: space-between;
     align-items: center;
}

