@font-face {
      src: url("/Login/fonts/Underdog-Regular.ttf");
     font-family: "Underdog";
}

body {
     font-family: "Underdog";
     color: rgb(255, 254, 254);
     background: linear-gradient(brown, black, brown);
}

.container{
     background-color: aqua;
     width: 600px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     height: auto;
     border-radius: 20px;
     border: 2px solid white;
     background: linear-gradient(aqua, lightskyblue);
}

.input-field {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 50px;
}

/*input and label*/
input {
     width: 350px;
     height: 37px;
     padding: 0px 10px;
     border-radius: 10px;
     border: 1px solid black;

}

label {
     font-size: large;
     font-weight: bold;
     font-style: oblique;
     padding-right: 295px;
}

.pwd-label {
     margin-top: 19px;
}

.re-enter-pwd-label {
     padding-right: 210px;
     margin-top: 19px;
}

/*input hover*/

input:hover {
     background-color: black;
     color: white;
     transition: 0.5s;
}

/*footer*/
.check-box {
     width: 15px;
}

.makeshift-footer {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}

.forgotten-password {
     padding-top: 24px;
}


/*Button*/
.btn-div {
     text-align: center;
     padding-bottom: 50px;
     padding-top: 30px;
}

.signup-btn {
     padding: 10px 0px 10px 0px;
     width: 150px;
     font-size: 13px;
     font-weight: bold;
     border-radius: 10px;
     border: 1px solid white;
     background-color: rgb(35, 29, 29);
     color: white;
}


/*Button hover */
.signup-btn:hover {
     width: 190px;
     padding: 15px 0px 15px 0px;
     font-size: 14px;
     font-weight: bold;
     border-radius: 10px;
     border: 1px solid white;
     background-color: rgb(158, 44, 44);
     cursor: pointer;
     
}
